<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>reactiveCocoaDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E60852561F2D9A3C00671793</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E608526F1F2D9A3D00671793</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E608527A1F2D9A3D00671793</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
